$font-family: "Cairo", sans-serif;

$gutter: 20px;
$gutter_lrg: 40px;

// FONT SIZES
$regular: 400;
$semibold: 600;
$bold: 700;

$zindex: (
  modal: 1000,
  header: 100
);

// COLORS
$dark: #020202;
$white: #fff;
$grey: #707070;
$blue: #00aaf5;
$red: #c60429;

// MAIN
$content: 1240px;
$gutter: 20px;
